body {
  padding-top: 50px; }

.starter-template {
  padding: 40px 15px;
  text-align: center; }

div .masoscuro {
  font-size: 100% Helvetica, sans-serif;
  background-color: #efef4f; }
  div .masoscuro #renegro {
    outline-color: #005500;
    font-size: 100em, Comic; }
